{% include "base.html" %}

<head>
    <title>{{ title }} | EZWeek</title>
</head>

<body>
    <br><br><br>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="p-2">
            <h1>Log In</h1>
        </div>
        <br>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <div style="border: 3px solid black; border-radius: 25px;">
            <fieldset>
                <form action="/login" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                    </p>
                    <p>
                        <a href="/password_reset">Forgot Password?</a> <br>
                        {{ form.remember_me.label }}
                        {{ form.remember_me }} <br>
                        {% for error in get_flashed_messages() %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <div style="display:grid; place-items:center">{{ form.submit() }}</div>  
                </form>
            </fieldset>
        </div>
        <div>
            <p>
                New to EzWeek? 
                <a href="/register">Create an account!</a>
            </p>
        </div>
    </div>
</body>
    
    
