{% include "base.html" %}

<head>
    <title>{{ title }} | EZWeek</title>
</head>

<body>
    <br><br><br>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="p-2">
            <h1>Reset Your Password</h1>
        </div>
    </div>
    {% if email_entered %}
    <div class="d-flex justify-content-center align-items-center">
        <h2>Check your email for a code to reset your password.</h2>
    </div>
    <br>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div style="border: 3px solid black; border-radius: 25px;">
            <fieldset>
                <form action="/password_reset/code" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }} <br>
                        {{ form.username(size=32) }} <br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>                        
                    <p>
                        {{ form.code.label }} <br>
                        {{ form.code }} <br>
                        {% for error in form.code.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }} <br>
                        {{ form.password(size=32) }} <br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password2.label }} <br>
                        {{ form.password2(size=32) }} <br>
                        {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {% for error in get_flashed_messages() %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>                                   
                    <div style="display:grid; place-items:center">{{ form.submit() }}</div>  
                </form>
            </fieldset>
        </div>
    </div>
    {%else %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div style="border: 3px solid black; border-radius: 25px;">
            <fieldset>
                <form action="/password_reset" method="post">
                    {{ form.hidden_tag() }}
                    <legend class="text-center">Enter your confirmed email address</legend>
                    <p> 
                        {{ form.email(size=64)}}
                    </p>
                    <p>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <div style="display:grid; place-items:center">{{ form.submit() }}</div>  
                </form>
            </fieldset>
        </div>
    {% endif %}
</body>

