{% include "base.html" %}

<head>
	<title>{{ title }} | EZWeek</title>
</head>

<body>
	<br><br><br>
	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="p-2">
			<h1>Register</h1>
		</div>
		<br>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div style="border: 3px solid black; border-radius: 25px;">
			<fieldset>
				<form action="/register" method="post">
					{{ form.hidden_tag() }}
					<p>
						{{ form.username.label }}<br>
						{{ form.username(size=32) }}<br>
						{% for error in form.username.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.name.label }} <br>
						{{ form.name(size=32) }} <br>
						{% for error in form.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.email.label }}<br>
						{{ form.email(size=32) }}<br>
						{% for error in form.email.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.password.label }}<br>
						{{ form.password(size=32) }}<br>
					</p>
					<p>
						{{ form.password2.label }}<br>
						{{ form.password2(size=32) }}<br>
						{% for error in form.password2.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<div style="display:grid; place-items:center">{{ form.submit() }}</div>
				</form>
			</fieldset>
		</div>
		<div>
            <p>
                Already have an account? 
                <a href="/login">Log in!</a>
            </p>
        </div>
		<br><br>
</body>